---

---

<div class="flex flex-col max-w-6xl mx-auto mt-20 gap-5 px-4">
    <h2 class="text-5xl">Formação Acadêmica</h2>

    <div class="flex flex-col">
        <h3 class="text-2xl font-medium">Análise e Desenvolvimento de Sistemas - Estácio</h3>
        <p class="text-xl font-medium">Janeiro de 2022 - junho de 2024</p>
        <p class="text-xl font-medium">
            Ensino Superior, Análise de Sistemas, Atividades e grupos: (4*
            Período ) Competências: UML (Linguagem de modelagem unificada) · MVC
            · Java · NetBeans · Banco de dados Oracle · MySQL · PhpMyAdmin · PHP
            · JavaScript · TDD · BDD · métodos e técnicas engenharia de
            software.
        </p>
    </div>
    <div class="flex flex-col">
        <h3 class="text-2xl font-medium">Kenzie Academy Brasil - Desenvolvimento-Web Full-Stack</h3>
        <p class="text-xl font-medium">Janeiro de 2023 - janeiro de 2024</p>
        <p class="text-xl font-medium">
            Curso de 2.000 horas de Desenvolvimento Full Stack que abrange
            tecnologias Front End e Back End além de soft skills necessários
            para o mercado de trabalho. Entre as linguagens e tecnologias
            aprendidas, estão HTML5, CSS3, JavaScript (ES6+), React, Redux,
            Python (Django e Flask) e SQL.
        </p>
    </div>
</div>
