---
import { FaArrowAltCircleDown } from "react-icons/fa";

---

<div class="flex flex-col items-center max-w-6xl mx-auto mt-20 gap-10 h-auto px-4   ">
    <h2 class="text-5xl">Sobre mim</h2>
    <div>
        <p class="text-xl font-medium">
            Olá, meu nome é Luis Felipe, e a tecnologia sempre foi uma parte
            fundamental da minha vida. Desde criança, fui fascinado pelo poder
            dos computadores e pela magia de resolver problemas através da
            programação. Essa paixão me levou a mergulhar de cabeça no mundo do
            desenvolvimento de software, onde descobri meu verdadeiro chamado.
            Minha jornada começou com uma curiosidade insaciável, desmontando e
            montando computadores, explorando diferentes sistemas operacionais e
            experimentando com pequenos projetos de código. Com o tempo, essa
            curiosidade se transformou em habilidades e um profundo
            entendimento das tecnologias que movem o mundo moderno. Tenho
            experiência em várias tecnologias essenciais para o desenvolvimento
            web e backend. Atualmente, estou aprimorando minhas habilidades em React, Next.js, Node.js e NestJS usando Typescript.
        </p>

        <p class="text-xl font-medium">
            Também estou ansioso para explorar as aplicações potenciais da computação de ponta e suas implicações para o futuro.
             Com sólida formação em Java e Spring Boot, estou animado para colaborar com outros profissionais e ajudar a dar vida às suas ideias.
             Vamos nos conectar e explorar como podemos trabalhar juntos para criar soluções de ponta que atendam às suas necessidades exclusivas!
        </p>

    </div>
    <a class=" w-52 h-10 flex  justify-center bg-pink-500 text-white gap-2 items-center text-xl " href="/public/cv.pdf" download="cv.pdf">Dawnload CV  <FaArrowAltCircleDown /></a>
</div>
